@font-face { font-family: 'IBM';                     src: url('/fonts/IBMPlexSans-Text.woff') format('woff'); }
@font-face { font-family: 'IBM'; font-style: italic; src: url('/fonts/IBMPlexSans-TextItalic.woff') format('woff'); }
@font-face { font-family: 'IBM'; font-weight: 800;   src: url('/fonts/IBMPlexSans-Bold.woff') format('woff'); }

@font-face { font-family: 'IBMmono';                     src: url('/fonts/IBMPlexMono-Text-Latin1.woff') format('woff'); }

.center {
    display: block;
    float: middle;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
	margin-bottom: 5px;
}
a:link {
    color: darkblue;
    text-decoration: none;
	font-weight: bold;
}
a:hover {
    color: blue;
    text-decoration: underline;
}
a:visited {
    color: darkcyan;
    text-decoration: none;
}

button {
	font-family: 'IBMmono',sans-serif,'Franklin Gothic Medium', 'Arial Narrow', Arial;
    float: middle;
    margin-left: auto;
    margin-right: auto;

    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;

    background-color: gold;
    border-width: medium;
    border-color: gold;

    padding-left: 18px;
	padding-right: 18px;
	padding-top: 5px;
	padding-bottom: 5px;

    font-size: 20px;
    font-style: italic;
    vertical-align: middle;
}
button:hover {
    background-color: darkgoldenrod;
}
hr {
    width: medium;
    color: gold;
}
h2 {
    font-family: 'IBMmono',sans-serif,'Franklin Gothic Medium', 'Arial Narrow', Arial;
}
h3 {
    font-family: 'IBM',sans-serif,'Franklin Gothic Medium', 'Arial Narrow', Arial;
}
iframe {
    display: block;
    float: middle;
    margin-left: auto;
    margin-right: auto;

    border-width: medium;
    border-color: gold;
}
body {
    background-color: darkslategray;

    font-family: 'IBM', sans-serif,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    
}
#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: medium;
    border-color: gold;
    padding: 20px;
    background-color: #55FFFF;/*same as Templeos-header.png*/
    line-height: 175%;
    font-size: 18px;
}
#disclaimer {
    display: block;
    float: middle;
    margin-left: auto;
    margin-right: auto;
    width: 825px;

    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;

    margin-bottom: 40px;
}
#main {
    margin-bottom: 40px;

    text-align: center;
}
#donate {
    display: block;
    float: middle;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}